<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="helloworldservice-endpoint" value="http://localhost:50072/values/gethelloworldtext/10"/>
</appSettings>
</configuration>